GEMINI_API_KEYS=key1,key2,key3
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=ap-south-1
S3_BUCKET=tryonai-media
CLOUDFRONT_DOMAIN=d1234abcd.cloudfront.net
DYNAMODB_TABLE=TryOnSessions
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
DEMO_MODE=false
SENTRY_DSN=https://xxx@xxx.ingest.sentry.io/xxx
POSTHOG_API_KEY=phc_...
POSTHOG_HOST=https://us.i.posthog.com
PORT=3000
